<div class="callback-container">
  <div class="callback-content">
    <div class="callback-spinner">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <h2 class="callback-title">Signing you in...</h2>
    <p class="callback-message">Please wait while we complete your authentication.</p>
    
    <div *ngIf="error" class="callback-error">
      <mat-icon>error</mat-icon>
      <p>Authentication failed. Please try again.</p>
      <button class="retry-button" (click)="retry()">Retry</button>
    </div>
  </div>
</div>